[Unit]
Description=Fedora Update Tray helper

[Service]
Type=simple
ExecStart=/usr/bin/fedora-update-tray
Restart=on-failure

[Install]
WantedBy=default.target